@model IEnumerable<SavingLives_WebApp.Models.DonorDetailListViewModel>

@*@{
    ViewBag.Title = "Home Page";
}*@

<style>
    .donordetails{
        background: url(../Images/paper1.jpg);
        border: groove; 
        border-radius: 10px;
        padding-left: 50px;
    }

    input[type=search]
    {
        border: 2px solid red;
        border-radius: 4px;
        padding: 4px 7px 4px 7px;
    }

    input[type=submit]
    {
        background-color: #ff6666;
        border: 2px solid black;
        border-radius: 4px;
        padding: 4px 7px 4px 7px;
    }
</style>

    <body>
        <div class="jumbotron" style="background-color: #ff6666">
            <h1>SavingLives</h1>
            <p class="lead">SavingLives establishes connection between Receivers that are in search for Blood and Donors that are willing to donote and help Saving Precious Lives</p>
            <br />
            <br />
            <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>

        <div class="row">

            @*<h4>Below are the Blood Groups that are presently Active for donation.</h4>
            <br />
            @foreach(var item in Model)
            {
        <table>
            <tr>
                <td style="color: red">
                    @item.BloodGroup:
                </td>
                <td>
                    @item.City.
                </td>
            </tr>
        </table>
            }*@
            <br />
            <form method="get">
                <input type="search" name="searchTerm" />
                <b><input type="submit" value="Search By City" /></b>
            </form>
            <br />
            <div class="donordetails">
                @foreach (var item in Model)
                {
                    <div>
                        <h4 style="color: red">@item.BloodGroup</h4>
                        <div>
                            <h4>@item.City, @item.State</h4>
                        </div>
                        <hr />
                    </div>
                }
            </div>

        </div>

    </body>