@model SavingLives_WebApp.Models.NewRequirement

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NewRequirement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BloodGroupDetail.BloodGroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BloodGroupDetail.BloodGroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceiverDetail.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceiverDetail.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpectedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpectedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumOfUnitsReq)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumOfUnitsReq)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModifiedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModifiedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NewRequirementID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
